<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.118.2">
    <title>Regístrate - Gallos</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/sign-up.css" rel="stylesheet">
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">

    
<main class="form-signup w-100 m-auto text-center shadow-lg p-3 ">
  <form id="formRegister" action="/register" method="POST">
    <img class="mb-4" src="img/gallo.png" alt="" width="72" height="57" style="justify-content: center; align-items: center;">
    <h1 class="h3 mb-3 fw-normal">Regístrate</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        <label for="name">Nombre Completo</label>
      </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="User">
      <label for="user">Nombre de Usuario</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <label for="email">Correo Electrónico</label>
      </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Contraseña</label>
    </div>

    <button class="btn btn-dark w-100 py-2" type="submit">Registrarse</button>
    <a href="/login" type="button" class="btn btn-outline-dark w-100 py-2" style="margin-top: 10px;">¿Ya tienes cuenta? Inicia sesión aquí</a>
  </form>
  
</main>
<script src="js/bootstrap.bundle.min.js"></script>

    </body>
</html>
